@import '../../variables.scss';

.section {
  background-color: $color-background;
  min-height: calc(100vh - 390px);
  width: 100%;
  padding: 80px 0 80px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
