@import '../../variables.scss';

.secondSlide {
  height: 100%;
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_formContainer {
    width: 400px;
    min-height: 119px;
    margin-top: 8px;
    margin-bottom: 8px;

    & label {
      font-size: 2rem;
    }

    &_input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid $color-blue-secondary;

      &:focus {
        outline: none;
      }

      &:focus-within {
        box-shadow: inset 0px 0px 0px 1px $color-blue-secondary,
          0 0.7rem 3rem rgb(82 82 82 / 8%);
      }
    }

    &_invalidInput {
      border: 1px solid $color-orange-secondary;

      &:focus {
        outline: none;
      }

      &:focus-within {
        box-shadow: inset 0px 0px 0px 1px $color-orange-secondary,
          0 0.7rem 3rem rgb(82 82 82 / 8%);
      }
    }

    &_error {
      color: $color-orange-secondary;
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: $bp-medium) and (max-width: $bp-large) {
  .secondSlide {
    width: 350px;

    &_formContainer {
      width: 350px;

      &_error {
        font-size: 1.4rem;
      }
    }
  }
}

@media screen and (min-width: $bp-small) and (max-width: $bp-medium) {
  .secondSlide {
    width: 300px;

    &_formContainer {
      width: 300px;
      min-height: 103px;
      margin-top: 5px;
      margin-bottom: 5px;

      label {
        font-size: 1.8rem;
      }

      &_input {
        margin: 3px 0;
      }

      &_error {
        font-size: 1.2rem;
      }
    }
  }
}

@media screen and (min-width: $bp-xsmall) and (max-width: $bp-small) {
  .secondSlide {
    width: 230px;

    &_formContainer {
      width: 230px;
      min-height: 105px;
      margin-top: 6px;
      margin-bottom: 6px;

      label {
        font-size: 1.6rem;
      }

      &_input {
        margin: 3px 0;
      }

      &_error {
        font-size: 1.2rem;
      }
    }
  }
}
