@import '../../variables.scss';

.secondSlide {
  height: 100%;
  width: 400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &_form {
    width: 400px;
    min-height: 119px;
    margin-top: 8px;
    margin-bottom: 8px;

    label {
      font-size: 2rem;
    }

    &_input {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid $color-blue-secondary;

      &:focus {
        outline: none;
      }

      &:focus-within {
        box-shadow: inset 0px 0px 0px 1px $color-blue-secondary,
          0 0.7rem 3rem rgb(82 82 82 / 8%);
      }
    }

    &_invalidInput {
      border: 1px solid $color-orange-secondary;

      &:focus {
        outline: none;
      }

      &:focus-within {
        box-shadow: inset 0px 0px 0px 1px $color-orange-secondary,
          0 0.7rem 3rem rgb(82 82 82 / 8%);
      }
    }

    &_error {
      color: $color-orange-secondary;
      font-size: 1.5rem;
    }
  }
}
