@import '../../variables.scss';

.cardHeader {
  width: 100%;
  height: 120px;
  background-color: $color-blue-primary;
  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    color: white;
    font-size: 3.5rem;
  }
}

@media screen and (min-width: $bp-medium) and (max-width: $bp-large) {
  .cardHeader {
    & h1 {
      font-size: 3rem;
    }
  }
}

@media screen and (min-width: $bp-small) and (max-width: $bp-medium) {
  .cardHeader {
    height: 60px;
    & h1 {
      font-size: 2.3rem;
    }
  }
}

@media screen and (min-width: $bp-xsmall) and (max-width: $bp-small) {
  .cardHeader {
    height: 50px;
    & h1 {
      font-size: 1.8rem;
    }
  }
}
