@import '../../variables.scss';

.card {
  width: 900px;
  height: 650px;
  background-color: $color-white;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 10px;
}

@media screen and (min-width: $bp-medium) and (max-width: $bp-large) {
  .card {
    width: 550px;
    height: 600px;
  }
}

@media screen and (min-width: $bp-small) and (max-width: $bp-medium) {
  .card {
    width: 400px;
    height: 510px;
  }
}

@media screen and (min-width: $bp-xsmall) and (max-width: $bp-small) {
  .card {
    width: 300px;
    height: 450px;
  }
}
