.header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;

  &_container {
    width: 1400px;
    margin: auto;
  }

  &_logo {
    display: flex;
    height: 70px;
    cursor: pointer;
  }
}
