@import '../../variables.scss';

.header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;

  &_container {
    width: 1300px;
    margin: auto;
  }

  &_logo {
    display: flex;
    height: 70px;
    cursor: pointer;
  }
}

@media screen and (min-width: $bp-large) and (max-width: $bp-xlarge) {
  .header {
    &_container {
      width: 930px;
    }
  }
}

@media screen and (min-width: $bp-medium) and (max-width: $bp-large) {
  .header {
    &_container {
      width: 555px;
    }
  }
}

@media screen and (min-width: $bp-small) and (max-width: $bp-medium) {
  .header {
    &_container {
      width: 400px;
    }
  }
}

@media screen and (min-width: $bp-xsmall) and (max-width: $bp-small) {
  .header {
    &_container {
      width: 300px;
    }
  }
}
