@import '../../variables.scss';

.footer {
  height: 100px;
  width: 100%;
  background-color: $color-blue-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  & p {
    color: $color-grey;
    width: 100%;
    text-align: center;
    margin: 0 auto 0;
    font-size: 1.5rem;
  }

  &_nav {
    &_github {
      width: 35px;
      height: 35px;
      margin-right: 10px;
      margin-top: 10px;
    }

    &_linkedin {
      width: 35px;
      height: 35px;
    }
  }
}
