@import '../../variables.scss';

.footer {
  height: 100px;
  width: 100%;
  background-color: $color-blue-secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  & p {
    color: $color-grey-dark;
    width: 100%;
    text-align: center;
    margin: 0 auto 0;
    font-size: 1.5rem;
  }

  &_nav {
    &_github {
      width: 35px;
      height: 35px;
      margin-right: 10px;
      margin-top: 10px;
    }

    &_linkedin {
      width: 35px;
      height: 35px;
    }
  }
}

@media screen and (min-width: $bp-medium) and (max-width: $bp-large) {
  .footer {
    height: 80px;

    & p {
      font-size: 1.3rem;
    }

    &_nav {
      &_github {
        width: 30px;
        height: 30px;
      }

      &_linkedin {
        width: 30px;
        height: 30px;
      }
    }
  }
}

@media screen and (min-width: $bp-small) and (max-width: $bp-medium) {
  .footer {
    height: 70px;

    & p {
      font-size: 1.3rem;
    }

    &_nav {
      &_github {
        width: 25px;
        height: 25px;
      }

      &_linkedin {
        width: 25px;
        height: 25px;
      }
    }
  }
}

@media screen and (min-width: $bp-xsmall) and (max-width: $bp-small) {
  .footer {
    height: 60px;

    & p {
      font-size: 1rem;
    }

    &_nav {
      &_github {
        width: 20px;
        height: 20px;
      }

      &_linkedin {
        width: 20px;
        height: 20px;
      }
    }
  }
}
