$color-blue-primary: #5ba4ff;
$color-blue-secondary: #1c3553;

$color-orange-primary: #faa974;
$color-orange-secondary: #f76a24;

$color-submition: #2988ff;

$color-white: #ffffff;
$color-grey: #e0e0e0;

$color-background: #f6f7f9;

$bp-xlarge: 1350px;
$bp-large: 980px;
$bp-medium: 600px;
$bp-small: 420px;
$bp-xsmall: 320px;
